@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/cofo-sans-mono');

:root {
	--app-font-family: 'Sora', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	--app-font-family-mono: 'Cofo Sans Mono', 'SFMono-Regular', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}
